<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="scorm.everfi.utils.TestNGTestListener" />
	</listeners>
  <test name="forms" preserve-order="true" >
  		<classes >
			<class name="scorm.everfi.tests.phd.smoke.SigninWithGoogle"/>
		</classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
